{% extends "base.html" %}

{% block title %}フラテ山の会 - アルバムの{{op}}{% endblock %}

{% block content %}
<div class="main box">

	<p><a href="{%url "album.home"%}">アルバム一覧に戻る</a></p>
	<section>
		<h1>アルバムの{{op}}</h1>
		<div class="well">

			<form action="./" method="post" data-use-ajax="false">
                {% csrf_token %}
				<table class="form centered">
	                {{ album_form }}
					<tr>
	                    <th></th>
	                    <td>
	                    	<button type="submit" class="btn btn-primary">確定</button>
	                    </td>
	                </tr>

				</table>
			</form>
		</div>

	</section>

</div>
{% endblock %}


{% block script %}
{{ block.super }}
{% if album.id %}
<script type="text/javascript">
$(function(){
    $('.btn-delete').on('click', function(){
        $(this).parents('form').attr('action', '{%url "album.delete" album.id%}')
    })
})
</script>
{% endif %}
{% endblock%}
