{% extends "base.html" %}

{% block title %}フラテ山の会 - アルバム{% endblock %}

{% block content %}
<div class="box">
	<article>

		<h1 class="ribbon">アルバム一覧</h1>
		{% if perms.photo.add_album %}
		<p><a href="{%url "album.add"%}">アルバムを追加</a></p>
		{% endif %}

		{% for album in albums %}
		<article class="p12">
			<h2>{%if album.locked %}<i class="fa fa-lock"></i> {%endif%}<a href="{% url "album.show" album.id %}">{{album.title}}</a></h2>
			<div class="right f14 mp">
				投稿者:<a href="{%url "member.home" %}#member_id_{{album.author.id}}">{{ album.author.name }}</a> / 投稿日時:{{album.pub_date}}
			</div>
			{{ album.message | linebreaks}}
			{%if not album.locked %}
				{% if album.photo_set.all %}
					<div class="well">
						<div class="album-carousel carousel">
							{%for p in album.photo_set.all %}
							<div class="item center">
								<a class="thumb fancybox-photo" rel="{{album.id}}" href="{{p.image.url}}" title="{{p.title}}">
									<img class="lazy" src="{{ p.thumb.url }}" alt="{{p.title}}" width="200" height="200"/>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				{% else %}
					<p class="gray">このアルバムにはまだ画像が投稿されていません。</p>
				{% endif %}
			{% else %}
				<p class="gray">このアルバムを閲覧するにはログインしてください。</p>
			{% endif %}

  			{% if user.is_active %}
			<div class="right f14 mp">
	  			{% if perms.photo.add_photo %}
				<a href="{%url "photo.add" album.id%}">写真の追加</a>
				{% endif %}
	  			{% if perms.photo.change_album %}
				<a href="{%url "album.edit" album.id%}">編集</a>
				<a class="btn-confirm-delete" href="#confirm-delete" data-url="{%url "album.delete" album.id %}">削除</a>
				{% endif%}
			</div>
			{%endif%}
		</article>
		{% endfor %}

	</article>
    {%if has_prev or has_next%}
    <div class="pagination">
        {%if has_prev%}
        <a href="{%url "album.home" %}?page={{page | add:1}}">過去の{{offset}}件</a>
        {%endif%}
        {%if has_prev and has_next%} / {%endif%}
        {%if has_next%}
        <a href="{%url "album.home" %}?page={{page | add:-1}}">新しい{{offset}}件</a>
        {%endif%}
    </div>
    {%endif%}
</div>
{% endblock %}

{%block post_process%}
	{% include "photo/confirm-delete.html" %}
{%endblock%}

{% block script %}
{{ block.super }}
<script type="text/javascript">
$(function() {
	$("img.lazy").lazyload();

	$('.album-carousel').owlCarousel({
		autoPlay: 3000,
		lazyLoad : true,
		items : 7,
		itemsDesktop : [900,4],
		itemsDesktopSmall : [700,3],
		itemsTablet: [500,2],
		itemsMobile: [300,1],
	})
});
</script>
<script src="{{STATIC_URL}}js/album.js"></script>
<script src="{{STATIC_URL}}js/delete_modal.js"></script>
{% endblock %}
