{% extends "base.html" %}

{% block title %}{{block.super}} - ブログ - {% if blog.id %}編集{% else %}追加{% endif %}{% endblock %}

{% block content %}
<div class="box main">

        <section class="content">
            <h3>ブログを{% if blog.id %}編集{% else %}追加{% endif %}する</h3>
            <div class="well">
                <form action="." method="post" data-use-ajax="false">
                    <ul class="form">                        
                        {% csrf_token %}
                        {{ blog_form.as_ul }}                                    
                        <li>                    
                            <button type="submit" class="btn btn-primary">確定</button>
                        </li>
                    </ul>
                </form>
            </div>
        </section>

</div>

{% endblock %}




