{% extends "base.html" %}

{% block title %}{{ block.super }} - トップ{% endblock %}

{% block script %}
<script type="text/javascript">

$(function() {

	$.ajax({
		type: "POST",
		url: "/ajax/mail/",
	}).done(function( t ) {
		$('.ml').text(t).attr('href', 'mailto:'+t)
	}).fail(function(jqXHR, textStatus, errorThrown){
		alert(errorThrown)
	});


	bg_flip()
    update_bg()


    $('.box').addClass('glass')
});	

var bg_files = new Array(
	'/static/img/hero/1.jpg',
	'/static/img/hero/2.jpg',
	'/static/img/hero/3.jpg',
	'/static/img/hero/4.jpg',
	'/static/img/hero/5.jpg');
var bg_imgs = new Array(bg_files.length);
for (i = 0; i < bg_files.length; i++) {
	bg_imgs[i] = null
}
var bg_index = Math.floor( Math.random() * 5 );

var bg_flip_index = false
var bg_front
var bg_back


function bg_file(){
	return bg_files[bg_index]
}
function bg_img(){
	return bg_img[bg_index]
}
function bg_proceed(){
	if (bg_index < bg_files.length-1 ) {
		bg_index = bg_index + 1;
	}else{
		bg_index = 0
	}
	return bg_index
}
function bg_flip(){
	bg_flip_index = ! bg_flip_index
	if(bg_flip_index){
		bg_front = $('#bg-a')
		bg_back = $('#bg-b')
	}else{
		bg_front = $('#bg-b')
		bg_back = $('#bg-a')
	}	
	bg_front.addClass('bg-front')
	bg_front.removeClass('bg-back')
	bg_back.addClass('bg-back')
	bg_back.removeClass('bg-front')
}

function update_bg(){
	console.log('update')
	if (bg_img()==null) {
		var img = new Image()
		img.onload=function() {
			bg_img[bg_index] = img
			console.log('loaded '+img.src)
			setTimeout(update_bg, 10);
		}
		img.src = bg_file()
		return
	}

	bg_back.attr('src', bg_img().src)
	bg_back.data('orgWidth', bg_img().width)
	bg_back.data('orgHeight', bg_img().height)
	console.log('attached '+ bg_img().src + ' to '+ bg_back.attr('id'))
	adjust_bg(bg_back)

	bg_back.show()
	// bg_front.show()
	bg_front.fadeOut(
    	2000,
    	function(){
			console.log('fade done')
			bg_flip()
			bg_proceed()
			setTimeout(update_bg, 10000);
    	}
    )

}


function adjust_bg(img){
	var body = $("body")
	var body_w = body.width()
	var body_h = body.height()
	var img_w = img.data('orgWidth')
	var img_h = img.data('orgHeight')
	if ( body_w/body_h > img_w/img_h){
		// 画面のほうが横長 -> 画像の上下が余る
		var h = body_w * img_h / img_w
		img.css({width: body_w, height: h, top: -(h - body_h)/2, left: 0 })
	}else{
		// 画像のほうが横長
		var w = body_h * img_w / img_h
		img.css({width: w, height: body_h, top: 0, left: -(w - body_w)/2})
	}
}

function resize(){    
	adjust_bg(bg_front)
	adjust_bg(bg_back)
}

var timer = false;
$(window).resize(function() {
    if (timer !== false) {
        clearTimeout(timer);
    }
    timer = setTimeout(resize, 200);
});
	
</script>
{% endblock %}

{% block wrap-outer%}
<div id="bg-container">
	<img id="bg-a" class="bg" />
	<img id="bg-b" class="bg" />
</div>
{% endblock %}

{% block content %}

<div class="box">

	<div class="flex-contents">

		<article class="flex-content flex3 p12 pickup">
			<h1>Renewel of The homepage!!</h1>
			<p>フラテ山の会のホームページをリニューアルしました。メンバー及びOB/OGの方は変更に伴うお知らせがありますので、<a href="{%url "bbs.thread.show" 5%}">こちら</a>(ログインが必要)を御覧ください。</p>
			<p>古いホームページ等は上のメニューの「その他」からアクセス可能です。</p>
		</article>

		<article class="flex-content flex2 p12">
			<h1>フラテ山の会とは？</h1>
			<p>　フラテ山の会は、別名:北海道大学医学部山岳部です。軽登山・沢登り・ロッククライミング・山スキーなど、四季にわたって精力的に活動しています。例会は月曜日の18:00からで、山行は基本的に自由参加です。サークルや部活との掛け持ちも可能です。新入生の皆様は是非、見学に来てください。</p>
			<table class="table-default bg-white">
				<tr>
					<th class="bg-gray">住所</th>
					<td>
						<p>〒060-0814<br />
						北海道札幌市北区北１４条西５丁目<br />
						医学部部室棟</p>
					</td>
				</tr>
				<tr>
					<th class="bg-gray">メールアドレス</th>
					<td><a class="ml">xxxxxxxxxxxxxxxxxxx</a><form id="csrf-token"><input type='hidden' name='csrfmiddlewaretoken' value='F8gA9sniX4x9x6yEMXDpILsZwP9fTgJr' /></form></td>
				</tr>
			</table>
		</article>

		<article class="flex-content flex2 p12">
			<h1>更新情報</h1>

			<table class="table-default  bg-white">
				<tr>
					<th class="bg-gray">2014年3月15日</th>
					<td>ホームページをリニューアルしました。</td>
				</tr>
			</table>					
				
		</article>

	</div>

</div>	

{% endblock %}
