{% extends "base.html" %}

{% block title %}{{block.super}} - BBS - スレッドの削除{% endblock %}


{% block content %}

<div class="box">

    <section class="content">
        <h2>スレッドを削除する</h2>
        <div class="well">
            <form action="." method="post">
                <table class="form centered">
                    {% csrf_token %}
                    <tr>
                        <th>タイトル</th>
                        <td>{{thread.title}}</td>
                    </tr>
                    <tr>
                        <th>投稿者</th>
                        <td>{{thread.author}}</td>
                    </tr>
                    <tr>
                        <th>本文</th>
                        <td>{{thread.message}}</td>
                    </tr>
                    {{ delete_form }}
                    <tr>
                        <th></th>
                        <td><input type="submit" class="btn btn-primary" value="確定" /></td>
                    </tr>
                </table>
            </form>
            <p class="f14 red">※スレッドを削除するとスレッドに付けられたコメントも全て削除されます。</p>
        </div>
    </section>
</div>


{% endblock %}


