{% extends "base.html" %}

{% block title %}フラテ山の会 - BBS{% endblock %}

{% block content %}
<div class="box main">
    <h1 class="ribbon">掲示板 - スレッド一覧</h1>

    <p><a href="{%url "bbs.thread.add"%}">スレッドを作成する</a></p>
    <form class="form">
        
    </form>
    {% for thread in threads %}
    <article class="content">
        <h2 class="thread-header {%if thread.is_new %}new{%endif%}">{%if thread.locked %}<i class="fa fa-lock"></i> {%endif%}<a href="{%url "bbs.thread.show" thread.id%}">{{ thread.title }}({{thread.comment_set.count}})</a></h2>
        <div class="right f14">
            投稿者：{{ thread.author }} / 最終更新日時:{{thread.last_update}}
        </div>                
    </article>
    {#comment#}
    {% if thread.locked and user.is_active or not thread.locked %}
    {% endif %}
    {#endcomment#}
    {% endfor %}
    
    {%if has_prev or has_next%}
    <div class="pagination">
        {%if has_next%}
        <a href="{%url "bbs.home" %}?page={{page | add:-1}}">新しい10件</a>
        {%endif%}
        {%if has_prev and has_next%} / {%endif%}
        {%if has_prev%}
        <a href="{%url "bbs.home" %}?page={{page | add:1}}">過去の10件</a>
        {%endif%}
    </div>
    {%endif%}

</div>

{% endblock %}


